@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --text-base: 1.3rem;
  --color-purple: #8f6dd6;
  --color-purple-drk: #512d9f;
  --color-orange: #ffab4a;
  --color-orange-drk: #eb7d00;
  --color-white: #fffef3;
  --color-red: #d33559;
  --color-black: #000000;

  
}

html,
body {
  @apply bg-white text-black dark:bg-gray-950 dark:text-white h-screen;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

h1, h2 {
  @apply font-bold text-3xl sm:text-7xl;
}

body {
  @apply flex flex-col items-center gap-7 text-base sm:text-2xl;
}

.tongue {
  @apply  h-full overflow-visible;
  @apply bg-red inset-shadow-sm inset-shadow-black/25 z-0;
  
}
p {
  @apply text-justify;
}
section {
  @apply  col-start-2 col-span-3;
  @apply  flex flex-col gap-8 ;
}

.tongue-r { 
  @apply col-1 w-[95vw] lg:w-[88vw];
  @apply rounded-r-4xl lg:rounded-r-full;
}

.tongue-content{
  @apply text-white text-shadow-md text-shadow-black/35 z-10 py-5;
}

.tongue-l {
  @apply col-1 w-screen ml-[7vw];
  @apply rounded-4xl lg:rounded-l-full;
}

.navigation-link-header {
  @apply text-white text-shadow-lg text-shadow-purple-drk/40 text-sm sm:text-base;
  @apply px-2 hover:text-orange hover:text-shadow-lg hover:text-shadow-purple-drk/70
}
.navigation-link-footer {
  @apply hidden sm:inline;
  @apply text-orange bg-red md:px-8 py-3;
  @apply hover:bg-orange hover:text-red hover:text-shadow-lg hover:text-shadow-black/10;
  @apply border-4 rounded-4xl  border-red shadow-lg;
}


.header-footer {
  @apply font-bold uppercase;
  @apply sm:rounded-3xl rounded-t-4xl shadow-black sm:m-13 md:m-16 lg:m-20 w-full sm:w-9/10;
  @apply p-9;
}